@font-face {
    font-family:"JetBrains Mono";
    src: url(assets/JetBrainsMono-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono";
}
.introduction{
    width: 95vw;
    margin-left: 5%;
}
.container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #222;
}
.textContainer{
    width: 95vw;
    margin-left: 5%;

}
.slides{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    color: black;   
    scroll-snap-align: start;
    white-space: wrap;
    overflow-x: hidden
}
.Title{
    position:absolute;
    color:white;
    top: 10%;
    width: 100%;
    height: 20%;
    font-size: 300%;
    margin-left: 20px;
}
.Titlep1{
    position:absolute;
    color:white;
    top: 5%;
    width: 100%;
    height: 20%;
    font-size: 320%;
    margin-left: 10px;
}
.More-Info-Button{
    position:absolute;
    left: 15%;
    bottom: 10%;
    color:white;
    width: 70%;
    height: 20%;
    border-radius: 20px;
    font-size: 200%;
    background-color: #555;
    border: 0px;
}
.imageContainerContainer{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.imageContainer{
    width:50%;
}
.imageCaption{
    color: black;
    font-size: x-small;
}
.popuptitle{
    margin-top: 10px;
    margin-left: 20%;
}
.popup-text{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: center;
    color:black;
}
.popupImg{
    width: 100%;
    height: auto;
}
.popupClose{
    position: absolute;
    width: 50%;
    height: 10%;
    right: 25%;
    border-radius: 20px;
    background-color: #222;
    color: #fff;
}
.popup .popuptext {
    visibility: hidden;
    width: 100%;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    display: none;
}
.popup-content {
    background-color: white;
    margin: 0% auto;
    margin-top: 5%;
    padding: 0px;
    border: 1px solid #888888;
    width: 90%;
    height: 80vh;
    font-weight: bolder;
    border-radius: 20px;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
.Orange-Text{
    color: orange;
}
p{
    color:white;
    text-wrap: wrap;
    word-break: break-word;
    white-space: normal;
}